__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
*.swo

venv/
env/
*.env


db.sqlite3
*.sqlite3

**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/__pycache__/

staticfiles/
media/
sjr_cache/

# Compiled Python files
*.pyc
*.pyo
*.pyd

.vscode/
journal_data.csv

.env

