[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
pandas = "*"
requests = "*"
psycopg2-binary = "*"
python-dotenv = "*"
djangorestframework = "*"
fastparquet = "*"

[dev-packages]

[requires]
python_version = "3.13"
